<header>
    <title>Craft Beer Me</title>
</header>
<h1>
    Welcome to Beer City!
</h1>
<body>
    <h3>What sort of beer do you like?</h3>
    <form action="Recommended">
        <input type="number" min="1" max="15" step=".1" name="ABV"/> <p>1-15</p>
        <input type="text" placeholder="IBU" name="IBU"/> <p>1-100</p>
        <input type="text" placeholder="SRM" name="SRM"/> <p>1-40</p>
        <input type="submit" value="Craft Beer Me!"/>
    </form>

    <button>Just Get me Something Good</button>
</body>

<footer>

</footer>