@model IEnumerable<Craft_Beer_Me.Models.Beer>

<header>
    <title>We Recommend: </title>
</header>

<body>

    <table>

        <tr>
            <th>
               Picture
            </th>
            <th>
                Name
            </th>
            <th>
                Website
            </th>
            <th>
                Beer Description
            </th>

        </tr>
        @foreach (var beer in ViewBag.SixPack)
        {
            <tr>
                <td>
                    <img src="@beer.Picture" alt="No Picture" />
                </td>
                <td>
                    @beer.BeerName
                </td>
                <td>
                    @beer.CategoryName
                </td>
                <td>
                    @beer.Description
                </td>
            </tr>
        }

    </table>
</body>

<footer>

</footer>